<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> ViFactory</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div style="display:grid; min-height: 100vh; grid-template-rows: max-content auto max-content">
        <header class="navbar bg-neutral text-neutral-content">
            <a class="btn btn-ghost text-xl">ViFactory</a>
        </header>

        <main class="py-8 md:px-16 px-4">
            @RenderBody()
        </main>

        <footer class="footer items-center p-4 bg-neutral text-neutral-content"> </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>