<div style="text-align:center">
    <input type="text" placeholder="Project Name" class="input input-bordered input-primary w-full max-w-xs" />
    <button class="btn btn-outline btn-primary" type="submit">Create Project</button>
</div>
